<!DOCTYPE html>
<html>
<body>
    <h1>AIGeniusHackers-ModelServer</h1>
    <select id="route">
        <option value="official">官方路线</option>
        <option value="proxy">代理路线</option>
    </select>
    <input type="hidden" id="selectedRoute" name="selected_route">
    <input type="checkbox" id="useVectorLLM" name="use_vector_llm">
    <label for="useVectorLLM">使用知识库作答</label>
    <br>
    <br>
    <input type="text" id="key" placeholder="请输入API Key">
    <button id="set" onclick="setKey()">set</button>    
    <br>
    <input type="text" id="question"  placeholder="你可以在这里提问">
    <button id="ask" onclick="getAnswer()">ask</button>
    <br>
    <br>
    <div class="scroll-box" id="answer" readonly></div>

    <h1>知识库问答</h1>
    <form method="POST" action="/knowledge_qa" enctype="multipart/form-data">
        <label for="pdf">上传知识库文件PDF：</label>
        <input type="file" id="pdf" name="pdf">
        <input type="submit" value="提交">
    </form>
    {% if response %}
        <div>{{ response }}</div>
    {% endif %}

    <script>
        function getAnswer() {
            var question = document.getElementById("question").value;
            var useVectorLLM = document.getElementById("useVectorLLM").checked;

            var apiUrl = useVectorLLM ? "/api/getVecLLMAnswer" : "/api/testLLM";

            fetch(apiUrl, {
                method: "POST",
                body: JSON.stringify({ question: question }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(function(response) {
                return response.text();
            })
            .then(function(answer) {
                document.getElementById("answer").innerHTML += answer + "<br>";
            });
        }

        function setKey() {
          var selectedRoute = this.value;
            if (selectedRoute === "official") {
                setOpenAIKey();
            } else if (selectedRoute === "proxy") {
                setProxyLLMKey();
            }        
        }

        function setOpenAIKey() {
            var apiKey = document.getElementById("key").value;
            document.getElementById("selectedRoute").value = selectedRoute;
            fetch("/api/setOpenAIKey", {
                method: "POST",
                body: JSON.stringify({ api_key: apiKey }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(function(response) {
                return response.text();
            })
            .then(function(message) {
                console.log(response.text());
            });
        }

        function setProxyLLMKey() {
            var apiKey = document.getElementById("key").value;
            fetch("/api/setProxyLLMKey", {
                method: "POST",
                body: JSON.stringify({ api_key: apiKey }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(function(response) {
                return response.text();
            })
            .then(function(message) {
                console.log(response.text());
            });
        }
    </script>
</body>
</html>
